.grid{
padding: 0 15px 30px 0;
display: flex;
justify-content: center;
align-items: center;
}
.grid:hover .details{
    background-color: rgba(253, 201, 0, 0.9);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 60px 50px;
    position: absolute;
}
.details{
    width: 100%;
    height: 100%;
    padding: 60px 50px;
    position: absolute;
    right: 0;
    top: 57%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.titleService{
    margin : -15px -74px 25px 4px!important;
}
.grid:hover .titleService{
    color:#051829;
}