mapboxgl-control-container {
    position: relative;
    top:0
    }
    .mapboxgl-ctrl-geocoder--button{
        position: absolute;
        left: -33px;
        top: 10px;
        font-size: 5px;
    }
    .mapboxgl-ctrl-geocoder--icon-loading {
        display: none;
    }
    .mapboxgl-ctrl-geocoder--icon-search {
        position: absolute;
        left: 6px;
        top: 13px;
    }
    .mapboxgl-ctrl-geocoder--icon {
    vertical-align: middle;
    }
    .mapboxgl-ctrl-top-right {
        margin: 10px 25px 0 0;
    }